@charset "UTF-8";
/*Base*/
* {
  padding: 0;
  margin: 0;
}
.presentation__discover{
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.container-all {
  max-width: 100%;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body { 
  margin: 0;
  padding: 0;
  width: 100%;
}
.container-all {
  max-width: 100%;
}

.fas {
  margin-right: 20px;
}

h1 {
  color: #9356DC;
}

.pagtit {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Header*/
header {
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
  margin: 0px;
}
.header {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.5);
  margin-bottom: 5px;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo img {
  max-width: 168px;
}

.fa-arrow-left:before {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}
/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 4s forwards;
}

/*recherche ville*/
.proj-search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}
.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.presentation__book {
  font-weight: bold;
  font-size: 25px;
}
.presentation__explore {
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.presentation__explore:hover {
  opacity: 1.2;
  box-shadow: 0.5rem 0.5rem 20px rgba(0, 0, 0, 0.25);
}
/*Fonctionnement*/
.function__title {
  margin: 0 0 20px 22px;
}
.function {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.function h2 {
  margin: 0 0 30px 0;
}
.function__choice {
  margin: 0 20px 20px 40px;
  font-weight: bold;
  background-color: #ece5f6;
  padding: 30px 50px 30px 18px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 300px;
  max-height: 78px;
}
.function__choice:hover {
  background-color: #f6f1fd;
}
.function__choice:hover .fas {
  color: #9356DC;
}
.function__choicenumber {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__title {
  padding: 50px 0 10px 22px;
}
.restaurants__card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 20px;
  margin-bottom: 18px;
  position: relative;
  max-width: 280px;
  min-width: 280px;
  transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
.restaurants__card:hover {
  opacity: 0.8;
  box-shadow: #9356DC 0px 7px 29px 0px;
  transform: scale(1.10);
}

.restaurants__card img {
  width: 100%;
  max-height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants__card .restaurants__cardcontent {
  padding: 19px 11px;
  position: relative;
  display: flex;
}
.restaurants__card .restaurants__cardcontent h3 {
  margin-bottom: 6px;
}
.restaurants__card .restaurants__cardcontent .restaurants_cardcontentname {
  position: relative;
}
.restaurants__card .restaurants__cardcontent .heart {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.6em;
  z-index: 100;
  cursor: pointer;
  font-weight: 100;
}  
.fa-heart:hover:before{
  transition: all .8s ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
}
.restaurants .btn-new-clignote{
  background-color: #99E2D0;
  color: #269717;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
/*Bannière*/
.photo__restaurant img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/*Carte restaurant*/
.card__title {
  font-family: "Shrikhand", cursive;
  max-width: 322px;
}
.fa-heart:before {
  margin-left: 20px;
}

.card {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
.card .far {
  align-self: flex-end;
}
.card h2 {
  margin-bottom: 35px;
}

.entrees {
  margin-bottom: 27px;
}
.entrees h2::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

/* #card__global__entrees {
  animation-delay: 3s;
  animation: fadein 9s;
  animation: SlideUp 3s ease-in-out;
}
#card__global__plats {
  animation-delay: 6s;
  animation: fadein 12s;
  animation: SlideUp 3.5s ease-in-out;
}
#card__global__desserts {
  animation-delay: 9s;
  animation: fadein 15s;
  animation: SlideUp 4s ease-in-out;
} */

.pl1 {
  animation: animplat 0.5s 0.2s ease-in-out both;
}

.pl2 {
  animation: animplat 0.5s 0.4s ease-in-out both;
}

.pl3 {
  animation: animplat 0.5s 0.6s ease-in-out both;
}

.pl4 {
  animation: animplat 0.5s 0.8s ease-in-out both;
}

.pl5 {
  animation: animplat 0.5s 1s ease-in-out both;
}

.pl6 {
  animation: animplat 0.5s 1.2s ease-in-out both;
}

.pl7 {
  animation: animplat 0.5s 1.4s ease-in-out both;
}

.pl8 {
  animation: animplat 0.5s 1.6s ease-in-out both;
}

.pl9 {
  animation: animplat 0.5s 1.8s ease-in-out both;
}

.pl10 {
  animation: animplat 0.5s 2s ease-in-out both;
}
.pl11 {
  animation: animplat 0.5s 2.2s ease-in-out both;  
}
.card__global__entrees h2,
.card__global__plats h2,
.card__global__desserts h2 {
  font-weight: normal;
  font-size: 20px;
}
.card__globalcontenu {
  background-color: #FFF;
  max-width: 350px;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 0 16px;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.card__globalcontenudish {
  width: 350px;
  padding: 14px 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.card__globalcontenudish h3,
.card__globalcontenudish h4 {
  font-size: 16px;
}

.card__globalcontenu:hover .card__globalcontenudishconfirmation {
  margin-right: 0px;
  min-width: 4rem;
  transition: margin-right 0.5s;
}
.card__globalcontenu:hover .headermenu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__globalcontenu:hover .headermenu h3,
.card__globalcontenu:hover .headermenu h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__globalcontenu:hover .circle {
  transform: rotate(360deg);
}
.card__globalcontenudishconfirmation {
  background-color: #99E2D0;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}
.circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.circle .fas {
  margin-left: 4px;
}
.center {
  text-align: center;
}
.card__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
  width: 25%;
}
.headermenu {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.headermenu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headermenu h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Bouton Commander*/
.bouton__commander {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.bouton__commander--pink {
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.bouton__commander--pink:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*Footer*/
footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0px;
  max-width: 100%;
  min-width: 320px;
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: normal;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #FFF;
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}

/*Animations/
/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*Animation du loader circle*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*Animation du menu ds pages*/
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}
@keyframes animplat{
0%{
  transform: translateY(30px);
  opacity: 0; 
}
100%{
  transform: translateY(0px);
  opacity: 1;
}
}

/*@media screen*/
@media screen and (max-width: 280px) {
  .function__choice {
    width: 180px;      
    } 
}
@media screen and (max-width: 375px) {
  .restaurants__card {
    max-width: 390px;
    min-width: 340px;
  }
  .function__choice {
    width: 250px;      
    }
}
@media screen and (max-width: 405px) {
  .card__globalcontenu:hover .headermenu {
    max-width: 130px;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .card__globalcontenudish h3,
  .card__globalcontenudish h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
  
@media screen and (min-width: 650px) {
  .restaurants__card {
    margin-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .function {
    justify-content: center;
    align-items: center;
    flex-direction: column}  
}
@media screen and (min-width: 1800px) {
  .container-all {
    max-width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .card__global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .card__globalcontenu {
    max-width: none;
  }
}
@media screen and (min-width: 1140px) {
  .card__global__entrees {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1142px) {
  .card__global__plats {
    margin-right: 10px;
  }
}
